//variables 
$website-width:1280px;
$main-color:#ffbc55;
$light-color:#f4f4f4;
$medium-color:#ccc;
$dark-color:#333;
$light-blue:#ADD8e6;
$blog-color:skyblue;
$bg-image:url("../img/showcase1.jpg");

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}